.fixed-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust this as needed */
  z-index: 1; /* Adjust the z-index as needed to ensure it appears above other content */
}